<section>
  <h1>¿Cuáles son los pasos para la nivelación de terrenos agrícolas?</h1>
  
  <h2>Levantamiento del terreno</h2>
  <p>
    Estudio topográfico para ver la situación actual del terreno en el cual se va
    a realizar la nivelación.
  </p>
  
  <h2>Proyecto de nivelación</h2>
  <p>
    Ajustar pendientes idóneas para el cultivo a implantar en la zona, siempre con
    la aprobación de la propiedad.
  </p>
  
  <h2>Estimar costes</h2>
  <p>
    Realizar presupuesto, teniendo en cuenta el movimiento de tierras requeridos
    para ejecutar la nivelación proyectada.
  </p>
  
  <h2>Nivelación del terreno</h2>
  <p>
    Ejecución de los desmontes, retirar tierra de las cotas altas, y terraplenes,
    añadir tierra en las cotas bajas, hasta conseguir los niveles exactos que se
    han proyectado para la finalización del trabajo.
  </p>
  
  <h2>Limpiar el área de trabajo</h2>
  <p>
    Una vez finalizada las labores de nivelación comprobar la exactitud del
    trabajo con el proyecto y retirar de la zona de trabajo cualquier residuo o
    herramienta que hayan quedado en el terreno.
  </p>
</section>
