<header class="flex w-full items-center justify-around text-white">
  <img 
    class="w-52 p-5"
    src="https://trabajosagricolashernandez.com/wp-content/uploads/2021/06/logo-white.png" 
    alt="Logo de Trabajos Agrícolas Hernandez"
  >

  <ul class="font-semibold flex gap-5 items-center">
    <li><a href="">INICIO</a></li>
    <li><a href="">SERVICIOS DE NIVELACIÓN</a></li>
    <li><a href="">COSTRUCCIÓN DE BALSAS</a></li>
    <li><a href="">OBRA CIVIL</a></li>
  </ul>

  <div class="w-52">
    <select class="bg-[#333] rounded p-2" name="idioma">
      <option value="ES">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/200px-Bandera_de_Espa%C3%B1a.svg.png" 
        alt="ESPAÑOL">
        ESPAÑOL
      </option>
      <option value="EN">ENGLISH</option>
      <option value="PT">PORTUGESE</option>
    </select>
  </div>
</header>