---
import Article from '../components/funciones-empresa.astro'
import {articles} from '../info/funciones-empresa'
---
<section class="grid gap-16 mt-10">
  <h1>QUE HACEMOS?</h1> 
  {articles.map(({title, paragraph, video}) => (
    <Article title={title} paragraph={paragraph} video={video}></Article>
  ))}
</section>