---
import Borja from "@public/empresas/Borja.png";
import Hisparroz from "@public/empresas/Grupo-Cartuja.png";
import GrupoCartuja from "@public/empresas/Hisparroz.png";

export const empresasTrabajos = [
  {
    name: "HISPARROZ",
    province: "Sevilla",
    time: "25 a침os",
    img: Hisparroz,
  },
  {
    name: "BORJA",
    province: "Huelva",
    time: "10 a침os",
    img: Borja,
  },
  {
    name: "GRUPO CARTUJA",
    province: "Huelva",
    time: "10 a침os",
    img: GrupoCartuja,
  },
]
---

<section class="w-full py-12 md:py-24 lg:py-32 bg-gray-100 text-center">
  <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl">
    Empresas con las que hemos Trabajando
  </h2>

  <ul
    class="mx-auto grid max-w-5xl items-center gap-6 py-12 lg:grid-cols-3 lg:gap-12"
  >
    {
      empresasTrabajos.map(({ name, province, time, img }) => (
        <li class="rounded-lg border shadow-sm bg-white">
          <img src={img.src} alt="logo de empresa" />
          <h3 class="text-xl font-bold">{name}</h3>
          <p class="p-4 text-gray-500">
            Trabajando justos desde hace m치s de {time}
          </p>
        </li>
      ))
    }
  </ul>
</section>
