---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta http-equiv="Permissions-Policy" content="interest-cohort=()">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: #F5F7F8;
		text-align: center;
		padding-bottom: 20rem;
	}
	* {
		box-sizing: border-box;
		margin: 0;
	}
	h1 {
		@apply text-7xl font-bold
	}
	section {
		@apply max-w-6xl mx-auto
	}
	p {
		@apply text-left text-lg
	}
</style>
